*{
    margin: 0;
    padding: 0;
    background: turquoise;
}
.button_contener
{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
    background: antiquewhite;
}
.border_cal
{
    border: 2px solid black;
    margin: 22px;
    width: 319px;
    background-color:antiquewhite;
}
#input_id
{
    margin: 13px;
    height: 62px;
    width: 91%;
    background: white;
    
}
.button
{
    height: 63px;
    width: 63px;
    margin: 5px;
    background: #fff171;
}
#screen
{
display: flex;
justify-content: center;
}
